<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91253613281-4635j8vnfn6uu5tr0urlgob1fahq2am9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91253613281-4635j8vnfn6uu5tr0urlgob1fahq2am9</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_C5LioDXHkizcO34rFmRLzMIgWVA7b4</string>
	<key>GCM_SENDER_ID</key>
	<string>91253613281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gianguerra.Sign-In-Test</string>
	<key>PROJECT_ID</key>
	<string>custom-login-f2916</string>
	<key>STORAGE_BUCKET</key>
	<string>custom-login-f2916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91253613281:ios:34be3b147eb24f77824da0</string>
	<key>DATABASE_URL</key>
	<string>https://custom-login-f2916.firebaseio.com</string>
</dict>
</plist>